/* This file needs to be streamlined to avoid this awkward positioning */
#bottomleft, #toggle-measure, #toggle-identify, #zoom, #pan, #overlayUI { 
	position: absolute;
	top: 2%;
	}
#bottomleft {
	left: 1%;
	}
#toggle-measure {
	left: 20%;
	}
#toggle-identify {
	left: 27%;
	}
#clear-measure {
	position: absolute;
	top: 5%;
	left: 25.1%;
	}
#zoom {
	left: 94%;
	top: 2%; 
	font-size: 18pt;
	padding: 3px;
	}
#pan {
	left: 96%;
	top: 2%;
	font-size: 18pt;
	padding: 3px;
	}
body { 
	background-color: beige;
	}
#bottomleft, #zoom, #pan{
	display: block;
	background-color: whitesmoke;
	border: 2px solid orange;
	}
#barrier {
	position: absolute;
	top: 7.5%;
	width: 93%;
	margin-left: 25px;
	margin-right: 25px;
	z-index: 2;
	}
#gis2d-map {
	margin-top: 4%;
	z-index: 1;
	}
#measureHidden {
	display: none;
	}
#overlayUI { 
	left: 35%;
	}
#overlays {
	top: 10%;
	left: 74%;
	position: fixed;
	z-index: 3;
	display: block;
	border: 1px solid blue;
	background-color: lightblue;
	height: 55%;
	width: 15%;
	padding-left: 5px;
	padding-right: 5px;
	}
.layers {
	position: absolute;
	top:9.3%;
	left:0.6%;
}